include README.md
include requirements.txt
recursive-include erptronix_premium_ui/public *
recursive-include erptronix_premium_ui/templates *
recursive-include erptronix_premium_ui/www *
recursive-include erptronix_premium_ui/config *
